<app-display-errors [errors]="errors"></app-display-errors>

<div class="container" fxLayout="row" fxLayoutGap="20">
    <mat-card>
        <mat-card-title>{{action}}</mat-card-title>
        <mat-card-content>
            <form (submit)="register(form.value)" [formGroup]="form">
                  <div class="first" fxFlex="50%"> 
                    <div class="columnTitle">Company Admin</div>
                    <mat-form-field appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input formControlName="firstName" matInput />
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input formControlName="lastName" matInput />
                    </mat-form-field>

                    <mat-form-field  appearance="outline">
                        <mat-label>Email</mat-label>
                        <input formControlName="email" matInput />
                        <mat-error>{{getEmailErrorMessage()}}</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput [type]="showPassword ? 'text' : 'password'" 
                                formControlName="password"
                                name="password"  />
                        <mat-icon matSuffix (click)="togglePasswordVisibility()">
                            {{showPassword?'visibility_off':'visibility'}}
                        </mat-icon>
                        <mat-error>The field password is required</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Gender</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let gender of genders" [value]="gender.value">
                            {{gender.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Date of Birth</mat-label>
                        <input formControlName="dateOfBirth" matInput [matDatepicker]="picker" />
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                  </div>
                  <div class="sec" fxFlex="50%"> 
                    <div class="columnTitle">Company Info</div>
                    <mat-form-field appearance="outline">
                        <mat-label>Name</mat-label>
                        <input formControlName="companyName" matInput />
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Address</mat-label>
                        <input formControlName="companyAddress" matInput />
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Country</mat-label>
                        <input formControlName="companyAddress" matInput />
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Website</mat-label>
                        <input formControlName="companyAddress" matInput />
                    </mat-form-field>

                    <!-- <app-input-img
                        [urlCurrentImage]="model?.picture"
                        (onImageSelected)="onImageSelected($event)">
                    </app-input-img> -->
                  </div>
            </form> 
        </mat-card-content>
    </mat-card>
</div>
