:host ::ng-deep {
    position: absolute;
    width: 98%;
    top: 0;
    left: 1rem;
}

.create-admin-button
{
    float: right;
    margin: 1rem;
}

.table-container {
    // margin-top: 10px;
    max-height: 300px;
    overflow: auto;
}

table {
    width: 100%;
    table-layout: fixed;

    .mat-header-cell {
        font-weight: bolder;
        background-color: gainsboro;
    }

    // td, th {
    //     width: 30%;
    // }

    .detail-cell {
        text-align: center;

        button {
            color: white;
            margin: 5px;
        } 

        .details-button {
            background-color: #09aeae;
        }
    }
}
