:host ::ng-deep {
    position: absolute;
    width: 98%;
    top: 0;
    left: 1rem;

    .table-container {
        width: 100%;
        max-height: 42.5rem;
        overflow: auto;
    }

    table {
        width: 100%;
        table-layout: fixed;

        .mat-header-cell {
            font-weight: bolder;
            background-color: gainsboro;
        }

        // td, th {
        //     width: 25%;
        // }

        .detail-cell {
            text-align: center;
    
            button {
                color: white;
                margin: 5px;
            } 

            .details-button {
                background-color: #09aeae;
            }
        }
    }
}