<app-authorize-view>
    <ng-container notAuthorized>
        <h2>Welcome to Staff Absence Management System</h2>
        <br />
        <br />
        <br />
        <div class="home-buttons">
            <button mat-raised-button color="primary" routerLink="login">Login</button>
            <h6>Or</h6>
            <button mat-raised-button color="warn" routerLink="register-company">Register Company</button>
        </div>
    </ng-container>
</app-authorize-view>

<ng-container *ngIf="this.securityService.getRole() == 'employee'">
    <ng-container authorize>
        <app-employee-home-page *ngIf="model" [model]="model"></app-employee-home-page>
    </ng-container>
</ng-container>
