mat-form-field{
    margin-left: 8px;
}

.dialog-buttons {
    justify-content: center;
}

// h1, h4 {
//     text-align: center;
//     margin: 0.5rem;
// }

.employeeFullName {
    text-align: center;
    margin: 0.5rem;
}

.employeeEmail {
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}