<mat-toolbar>
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon> 
    </button>

    <app-authorize-view [role]="'companyAdmin'">
        <ng-container authorized>
            <div class="company-info">
                <img class="company-logo" src="{{securityService.getFieldFromJWT('companyLogo')}}" alt="Company Logo">
                <div class="company-name">
                    {{securityService.getFieldFromJWT('companyName')}}  
                </div>
            </div>
        </ng-container>
    </app-authorize-view>

    <div class="application-name">
        Absence Management System
    </div>
    
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav">

        <app-authorize-view>
            <ng-container authorized *ngIf="securityService.getFieldFromJWT('userID')">
                <img class="avatar mat-elevation-z8" src="{{currentUserInfo?.picture}}">
                <h4 class="name">{{currentUserInfo?.fullName}}</h4>
                <p class="designation">{{currentUserInfo?.designation}}</p>
                <button mat-flat-button class="edit-profile-button" 
                        (click)="openEditAccountDialog()">
                    <mat-icon>edit</mat-icon>
                    Edit
                </button>
                <button class="logout-button" mat-flat-button color="warn"
                        (click)="securityService.logout()">
                    <mat-icon style="padding-bottom: 4px;">logout</mat-icon>
                    Logout 
                </button>
                <mat-divider></mat-divider>
            </ng-container>
        </app-authorize-view>

        <app-authorize-view [role]="'applicationAdmin'">
            <ng-container authorized>
                <button mat-button class="menu-button" routerLink="dashboard">
                    <mat-icon>dashboard</mat-icon>
                    <span>Dashboard</span>
                </button>
                <button mat-button class="menu-button" routerLink="application-admins">
                    <mat-icon>account_circle</mat-icon>
                    <span>Application <span style="display: inline-block; margin-left: 2px;"></span>
                    <br /> Admins</span>
                </button>
                <button mat-button class="menu-button" routerLink="companies">
                    <mat-icon>business</mat-icon>
                    <span>Companies</span>
                </button>
                <button mat-button class="menu-button" routerLink="company-admins">
                    <mat-icon>account_circle</mat-icon>
                    <span>Company <span style="display: inline-block; margin-left: 14px;"></span>
                    <br /> Admins</span>
                </button>
            </ng-container>
        </app-authorize-view>

        <app-authorize-view [role]="'companyAdmin'">
            <ng-container authorized>
                <button mat-button class="menu-button" routerLink="dashboard">
                    <mat-icon>dashboard</mat-icon>
                    <span>Dashboard</span>
                </button>
                <button mat-button class="menu-button" routerLink="employees">
                    <mat-icon>people</mat-icon>
                    <span>Employees</span>
                </button>
                <button mat-button class="menu-button" routerLink="company-absences">
                    <mat-icon>insert_invitation</mat-icon>
                    <span>Absences</span>
                </button>
                <button mat-button class="menu-button" routerLink="company-absences-calendar">
                    <mat-icon>calendar_month</mat-icon>
                    <span>Calendar</span>
                </button>
                <button mat-button class="menu-button" routerLink="company-admins">
                    <mat-icon>account_circle</mat-icon>
                    <span>Company <span style="display: inline-block; margin-left: 14px;"></span>
                    <br /> Admins</span>
                </button>

            <mat-divider></mat-divider>

            <button mat-button class="menu-button" routerLink="settings">
                <mat-icon>settings</mat-icon>
                <span>Settings</span>
            </button>
            </ng-container>
        </app-authorize-view>

        <app-authorize-view [role]="'employee'">
            <ng-container authorized>
                <button mat-button class="menu-button" routerLink="" >
                    <mat-icon>home</mat-icon>
                    <span>Home</span>
                </button>
                <button mat-button class="menu-button" routerLink="absences">
                    <mat-icon>insert_invitation</mat-icon>
                    <span>My absences</span>
                </button>
                <button mat-button class="menu-button" routerLink="user-absences-calendar">
                    <mat-icon>calendar_month</mat-icon>
                    <span>My Calendar</span>
                </button>
                
            </ng-container>
        </app-authorize-view>

        <app-authorize-view>
            <ng-container notAuthorized>
                <button mat-button class="menu-button" routerLink="" >
                    <mat-icon>home</mat-icon>
                    <span>Home</span>
                </button>
                <button mat-button class="menu-button" routerLink="about">
                    <mat-icon>info</mat-icon>
                    <span>About</span>
                </button>
                <button mat-button class="menu-button" routerLink="help">
                    <mat-icon>help</mat-icon>
                    <span>Help</span>
                </button>
            </ng-container>
        </app-authorize-view>

        
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="content mat-elevation-z4">
            <!-- Main Content -->
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

