.title {
    text-align: center;
    margin-bottom: 2rem;
}

mat-form-field{
    margin-left: 8px;
    width: 95%;

    textarea {
        height: 5rem;
        resize: none !important;
    }
}

.dialog-buttons {
    justify-content: center;
}

.charCounter {
    float: right;
    font-size: 0.75rem;
    font-style: italic;
} 