<form (submit)="saveChanges()" [formGroup]="form">
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Absence Type</mat-label>
            <mat-select formControlName="absenceType" [(value)]="selectedAbsenceType">
                <mat-option *ngFor="let absenceType of absenceTypes; index as indexOfelement;" [value]="indexOfelement">
                {{absenceType}}
                </mat-option>
            </mat-select> 
            <mat-error>Absence type is required</mat-error>
        </mat-form-field>
    
        <mat-form-field appearance="outline">
            <mat-label>Absence Period</mat-label>
            <mat-date-range-input [min]="currentDate" [rangePicker]="picker">
              <input formControlName="startDate" matStartDate matInput placeholder="Start Date" />
              <input formControlName="endDate" matEndDate matInput placeholder="End Date" />
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
    
        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <input formControlName="description" matInput />
        </mat-form-field>
    </div>

    <!-- <mat-form-field appearance="outline">
        <mat-label>Start Date</mat-label>
        <input formControlName="startDate" matInput [matDatepicker]="picker" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error>Start date is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>End Date</mat-label>
        <input formControlName="endDate" matInput [matDatepicker]="picker2" />
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
        <mat-error>End date is required</mat-error>
    </mat-form-field> -->

    <div class="buttons">
        <button mat-flat-button color="primary" [disabled]="form.invalid">Apply</button>
        <a mat-stroked-button routerLink="/absences">Cancel</a>
    </div>

</form>
