<h3>Absence Management</h3>
<span>Absence management is the process of managing absences in your workplace. It’s important to have a plan for dealing with employees absent
from work because it can be disruptive and costly when too many people are out at once. When you’re putting together an absence management plan,
you should think about how often people are taking off, what percentage of your staff will need coverage when someone is gone, and whether or not
there are any consequences for being absent. 
<br />
<br />
The most important thing you can do as an employer is listen to your team members about what they
need to feel more comfortable going into work each day. We’ll take a look at the best strategies for staff absence management and explore its
importance on productivity and employee engagement.
<br />
<br />
Each organisation will determine its own standards for absence. Therefore, an absence policy should inform employees of these standards and let
them know what is expected. An absence policy should provide a fair and consistent process to help managers deal with absence and let employees
know how it will be measured. There should also be provisions to support employees and absence management methods, such as flexible working.</span>